img {
  max-width: 100%;
}

body {
  background-color: #759c9c;
}

* {
  margin: 0;
  padding: 0;
}

/* Navbaren starter her------ */

/* @media (min-width 400px) { */
.burger ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  padding: 0.875rem;
}

li a {
  display: flex;
  color: #374a4a;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #f0f3a6;
}

/* Her starter SVG forside med tekst------- */

#screen {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
}

.burger {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(SVG/forside.svg);
  background-size: cover;
}

/* Her er burgermenuen------- */

.toggle-btn {
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    color: #4d6666;
    font-size: 1.4rem;
    padding: 0.5rem;
  }

  button:hover {
    color: #f0f3a6;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}
/* Overskifter familie og str. m.m.--------------- */

h3 {
  font-size: 1rem;
  padding: 0.25rem;
}

h4 {
  font-size: 0.875rem;
}

footer {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  padding: 1rem;
  color: #fff;
  background-color: #374a4a;
  font-size: 0.875rem;
  opacity: 70%;
}

@media (min-width: 600px) {
  h3 {
    font-size: 1.8rem;
    padding: 1rem;
  }
}
