img {
  max-width: 100%;
  border: 5px solid #f0f3a6;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

body {
  background-color: #759c9c;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1300px) 1fr;
  place-content: center;
}

main section {
  grid-column: 2/3;
  padding: 0.1px;
}

#tema3,
#tema4,
#tema5,
#tema6 {
  margin: 90px 10px 90px 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbaren starter her------ */

.burger ul {
  display: flex;
  list-style-type: none;
  background-color: #374a4a;
  flex-direction: row;
  justify-content: space-evenly;
}

li a {
  display: flex;
  text-align: center;
}

a {
  font-family: "acme", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  padding: 0.25rem;
}

a:hover,
h2:hover {
  color: #f0f3a6;
}

.toggle-btn {
  display: none;
}

/* Her starter SVG forside med tekst------- */

#screen {
  display: grid;
  grid-column: 1/4;
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
}

.forside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(SVG/forside1.svg);
  background-size: cover;
}

.forside_txt h1 {
  position: absolute;
  top: 64%;
  left: 10%;
  color: #fff;
  font-family: "Acme", sans-serif;
  font-size: 2rem;
}

/* Min knap som fører videre til opgaverne---- */

.linkknap {
  display: flex;
  background-color: #f0f3a6;
  color: #374a4a;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 25px;
  width: fit-content;
}

/* Overskifter familie og str. m.m.--------------- */

a h2 {
  font-family: "acme", sans-serif;
  font-size: 1rem;
  padding: 1rem;
  color: #fff;
  background-color: #374a4a;
}

h3 {
  font-family: "acme", sans-serif;
  font-size: 2rem;
  padding: 0.25rem;
  color: #374a4a;
}

h4 {
  font-family: "acme", sans-serif;
  font-size: 1.5rem;
  padding: 0.25rem;
  color: #374a4a;
  line-height: 1.5;
  width: fit-content;
}

p {
  font-family: "Lora", serif;
  font-size: 1.2rem;
  padding: 0.25rem;
  color: #243030;
  line-height: 1.5;
}

figcaption {
  color: #243030;
  font-style: italic;
  padding: 0.25rem;
  margin-bottom: 20px;
}

a,
h2,
h3,
h4,
p {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  padding: 1rem;
  color: #fff;
  background-color: #374a4a;
  font-size: 0.875rem;
  list-style: none;
}

/* Herfra starter alle mediaqueries----------- */

@media (min-width: 600px) {
  .forside_txt h1 {
    font-size: 5rem;
  }
}
@media (min-width: 600px) {
  a {
    font-size: 2.5rem;
    padding: 0.25rem;
  }

  a h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    color: #4d6666;
    font-size: 1.4rem;
    padding: 0.5rem;
  }

  button:hover {
    color: #f0f3a6;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

/* Her starter menuen der leder ned til det enkelte tema------- */

@media (min-width: 1000px) {
  #tema1 .temawrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    margin: 90px 120px 90px 120px;

    /* outline: 2px solid indianred; */
  }

  .opgave3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .opgave4 {
    grid-column: 3/4;
  }

  .opgave5 {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .opgave6 {
    grid-column: 5/6;
  }

  #tema1 img {
    width: 100%;
    object-fit: cover;
  }

  /* Her starter tema 2 ---------------- */

  #tema2 .temawrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  #tema2 .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #tema3 .temawrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  #tema3 .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #tema5 .temawrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .pilot1 {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .pilot2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .pilot3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .pilot4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .pilot5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .pilot6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
